.bike-bg {
  background: linear-gradient(
    to right,
    var(--neutral-color-00) 30%,
    var(--neutral-color-11) 0
  );
}
.bike {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../../img/dec/top-right.svg) no-repeat top 40px right 20px;
}
.bike-image {
  display: grid;
}
.bike-image span {
  background: var(--neutral-color-12);
  display: inline-block;
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0px 0px 4px;
}
.bike-image img {
  grid-area: 1/1;
}
.bike-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.bike h2,
.bike p {
  grid-column: 1 / -1;
}
.bike h2 {
  margin-bottom: 20px;
}
.bike h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  margin-bottom: 8px;
  background: var(--primary-color-01);
}
.bike p {
  margin-bottom: 32px;
  max-width: 44ch;
}
.bike ul {
  display: grid;
  gap: 16px;
}
.bike li {
  display: flex;
  align-items: center;
}
.bike-content li img {
  width: 24px;
  margin-right: 8px;
}
.bike a {
  place-self: end;
}

@media (max-width: 800px) {
  .bike-bg {
    background: var(--neutral-color-11);
  }
  .bike {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .bike-content {
    grid-template-columns: 1fr;
  }
  .bike ul {
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    margin-bottom: 32px;
  }
  .bike li {
    align-items: start;
  }
  .bike a {
    place-self: start;
  }
}
