.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/*buttons styles*/
.button {
  display: inline-block;
  padding: 16px 32px;
  color: var(--primary-color-05);
  background: linear-gradient(#ffbf00, #f2a60c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  text-transform: uppercase;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
.button.secondary {
  background: var(--neutral-color-10);
  color: var(--neutral-color-02);
}
.button.secondary:hover {
  background: var(--neutral-color-09);
}
.button.arroy {
  display: flex;
  align-items: center;
}
.button.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
  transition: all 0.2s;
}
.button.arrow:hover::after {
  transform: translateX(4px);
}
@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/*links styles*/
.link {
  display: inline-block;
  color: var(--primary-color-01);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}
.link:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: currentColor;
}
.link:hover {
  color: var(--neutral-color-00);
}

/*internal titles*/
.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--neutral-color-11);
}
.title {
  background: url(../../img/dec/top-right.svg) no-repeat top right 20px;
}
.title p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .title-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .title p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
