.termos {
  padding: 80px 20px;
}
.termos h2 {
  margin-bottom: 20px;
  font-weight: 600;
}
.termos p + h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.termos p {
  margin-bottom: 24px;
  max-width: 75ch;
}
